---
name: Code Lint

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-dockerfile:
    name: Lint Dockerfile
    runs-on: brixion-runners
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint Dockerfile with hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ./Dockerfile
          config: .hadolint.yaml

  yaml-lint:
    name: YAML Lint
    runs-on: brixion-runners
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Run YAML Lint
        uses: ibiqlik/action-yamllint@v3
        with:
          strict: true
          config_data: |
            extends: default
            rules:
              comments:
                min-spaces-from-content: 1
              line-length:
                max: 100
                allow-non-breakable-inline-mappings: true
              truthy: disable
